<footer th:fragment="pagination">

    <nav>
        <ul class="pagination justify-content-center">

            <!-- Previous -->
            <li class="page-item"
                th:classappend="${currentPage == 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/blog/posts(pageNumber=${currentPage - 1}, pageSize=${pageSize})}">
                    Previous
                </a>
            </li>

            <!-- Page Numbers -->
            <li class="page-item"
                th:each="i : ${#numbers.sequence(1, totalPages)}"
                th:classappend="${i == currentPage} ? 'active'">

                <a class="page-link"
                   th:href="@{/blog/posts(pageNumber=${i}, pageSize=${pageSize})}"
                   th:text="${i}">
                </a>
            </li>

            <!-- Next -->
            <li class="page-item"
                th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/blog/posts(pageNumber=${currentPage + 1}, pageSize=${pageSize})}">
                    Next
                </a>
            </li>

        </ul>
    </nav>

</footer>