<footer th:fragment="pagination">

    <nav>
        <ul class="pagination justify-content-center">

            <!-- Previous -->
            <li class="page-item"
                th:classappend="${start <= 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/blog/posts(
                        start=${start - limit > 0 ? start - limit : 1},
                        limit=${limit}
                   )}">
                    Previous
                </a>
            </li>

            <!-- Page Numbers -->
            <li class="page-item"
                th:each="i : ${#numbers.sequence(1, totalPages)}"
                th:classappend="${((i - 1) * limit + 1) == start} ? 'active'">

                <a class="page-link"
                   th:href="@{/blog/posts(
                        start=${(i - 1) * limit + 1},
                        limit=${limit}
                   )}"
                   th:text="${i}">
                </a>
            </li>

            <!-- Next -->
            <li class="page-item"
                th:classappend="${start + limit > totalPages * limit} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/blog/posts(
                        start=${start + limit},
                        limit=${limit}
                   )}">
                    Next
                </a>
            </li>

        </ul>
    </nav>

</footer>