<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header ::header">
</div>
<div th:replace="fragments/header ::navbar">
</div>

<body>

<form th:action="@{/blog/posts}" method="get">

  <input type="hidden" name="start" value="1"/>
  <input type="hidden" name="limit" th:value="${limit != null ? limit : 10}" />
  <input type="hidden" name="search" th:value="${search != null ? search : ''}" />

  <!-- Sort By -->
  <select name="sortBy">
    <option value="publishedAt" th:selected="${sortBy != null and sortBy == 'publishedAt'}">PublishedDateTime</option>
<!--    <option value="title" th:selected="${sortBy == 'title'}">Title</option>-->
<!--    <option value="author" th:selected="${sortBy == 'author'}">Author</option>-->
  </select>

  <!-- Direction -->
  <select name="direction">
    <option value="asc" th:selected="${direction == 'asc'}">Ascending</option>
    <option value="desc" th:selected="${direction == 'desc'}">Descending</option>
  </select>

  <button type="submit">Sort</button>

</form>
<div class="container">

  <h1>Posts that you can Enjoy!</h1>

  <div th:each="post : ${posts}" class="card mb-4 p-3">

    <h3>
      <a th:href="@{/blog/posts/{id}(id=${post.id})}"
         th:text="${post.title}">
      </a>
    </h3>

    <p>
      <strong th:text="${post.author}"></strong>
      |
      <span th:text="${post.publishedAt != null ? #temporals.format(post.publishedAt, 'dd MMM yyyy') : 'N/A'}"></span>
    </p>

    <div>
      <strong>Tags:</strong>

      <span th:each="tag : ${post.tags}"
            th:text="${tag}"
            class="badge bg-secondary me-1">
      </span>
    </div>

    <p th:text="${post.excerpt}"></p>

  </div>

</div>
<div th:replace="fragments/footer ::footer">
</div>
</body>
</html>



