<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header ::header">
</div>
<div th:replace="fragments/header ::navbar">
</div>
<head>
    <style>
        .mb-3{
            margin-left: 10px;
            padding-left: 7.5px;
        }

    </style>
</head>
    <body>
    <div class="container">
        <h1 th:text="${post.title}"></h1>
        <div style="margin-bottom:15px">

            <a th:href="@{/blog/posts/update/{id}(id=${post.id})}">
                Edit Post
            </a>

            <form th:action="@{/blog/posts/delete/{id}(id=${post.id})}"
                  method="post"
                  style="display:inline;">
                <button type="submit">
                    Delete Post
                </button>
            </form>

        </div>

        <p>
            <strong>Author:</strong>
            <span th:text="${post.author}"></span>
        </p>

        <p>
            <strong>Published:</strong>
            <span th:text="${post.publishedAt}"></span>
        </p>

        <h3>Tags</h3>

        <ul>
            <li th:each="tag : ${post.tags}"
                th:text="${tag}">
            </li>
        </ul>

        <hr>

        <div th:text="${post.content}"></div>
    </div>
    <hr>
    <hr>
<!--    <h3 style="padding-left:10px">Add Comment</h3>-->
    <div class="card">
        <div class="card-header">
            <h2>Leave a Comment</h2>
        </div>
        <div class="card-body">
        <form th:action="@{/blog/comments}"
              method="post"
              th:object="${commentDto}">

        <div class="mb-3">
            <input type="text"
                   class="form-control"
                   placeholder="Your Name"
                   th:field="*{name}" />
        </div>

        <div class="mb-3">
            <input type="email"
                   class="form-control"
                   placeholder="Your Email"
                   th:field="*{email}" />
        </div>

        <div class="mb-3">
        <textarea class="form-control"
                  placeholder="Write your comment..."
                  th:field="*{content}">
        </textarea>
        </div>

        <!-- IMPORTANT: Hidden postId -->
        <input type="hidden"
               name="postId"
               th:value="${post.id}" />

        <button type="submit" class="btn btn-primary"  style="margin: 10px;">
            Add Comment
        </button>
    </form>
            <h3>Comments</h3>

            <div th:if="${#lists.isEmpty(comments)}">
                <p>No comments yet</p>
            </div>

            <div th:each="comment : ${comments}" class="card mb-2">

                <div class="card-body">
                    <h5 th:text="${comment.name}"></h5>

                    <p th:text="${comment.content}"></p>

                    <small th:text="${comment.email}"></small>
                </div>

            </div>
        </div>
    </div>

</body>
    </html>



</body>
</html>